.about-us {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    align-items: center;
    background-color: #ffffff;

}


.about-us img {
    width: 40rem;
    margin-left: 5%;
    max-width: 100%;
}

.about-us-text {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;

}

.about-us-text p {
    color: black;
    max-width: 100%;
}
.standard-btn{
    padding: 15px 40px;
    background-color: #ff652f;
    border: 2px solid #ff652f;
    border-radius: 3px;
}
.standard-btn:hover{
    padding-left: 15px;
}

@media screen and (max-width:800px) {
    .about-us {
        flex-direction: column;
        padding-top: 6rem;
    }
}