*{
    margin: 0;
    padding: 0;
}

.body-container{
    display: flex;
    
    
}
.main-content{
    display: flex;
    flex-direction: column;


}
.first-row,.second-row{
    display: flex;
    gap: 5rem;
    margin: 2rem 8rem;
}

 .boxes-container{
    background-color: antiquewhite;
    width: 15rem;
    padding: 2rem;
    height: 11rem;

}
@media screen and (max-width: 600px) {
    .first-row,.second-row{
        display: flex;
        flex-direction: column;
    }
  }


