* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.container {
  display: flex;
}

.package-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: white;
  margin: 4rem;
  margin-left: 5rem;
}
.first-row {
  display: flex;
  gap: 4rem;
}
.second-row {
  display: flex;
  gap: 4rem;
}
.card .list ul {
  display: flex !important;
  flex-direction: column !important;
}
.card {
  background-color: rgb(40, 38, 38, 0.7);
  padding: 2rem;
}
.select-btn {
  padding: 0.5rem 2.5rem;
  margin: 2rem;
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #ff652f;
  border-radius: 2rem;
}
.select-btn:hover {
  background-color: #f84200;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
